@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: linear-gradient(to right, rgba(135,206,250), rgba(65,105,225));
	padding-top: 120px;
	width: 100%;
	transition: background 0.2s linear;
}

body.dark {
	background: #4F4F4F;
}


.dark-mode {
	position: relative;
	left: 80%;

}
.checkbox {
	opacity: 0;
	position: absolute;
}

.label {
	background-color: #4F4F4F;
	border: 1px solid white;
	border-radius: 50px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding:  5px;
	position: relative;
	height: 15px;
	width: 50px;
	transform: scale(1.5);
}

.label .ball {
	background-color: #fff;
	border-radius: 50%;
	position: absolute;
	top: -1px;
	left: 5px;
	height: 15px;
	width: 15px;
	transform: translateX(0px);
	transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
	transform: translateX(24px);
}

.fa-moon {
	font-size: 12px;
	color: #A9A9A9;
}

.fa-sun {
	font-size: 12px;
	color: #FFD700;
}

header {
	font-family: 'Ubuntu', sans-serif;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 40px;
	background-color: #1C1C1C;
	z-index: 10;
}

header ul {
	display: flex;
	justify-content: center;
	align-items: center;
}

header ul li {
	list-style: none;
	margin-left: 20px;
}

header ul li a {
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 3px;
	padding: 20px;
	color: #fff;

}

header ul li a:hover,
header ul li a.ativo {
	color: #00CED1;
}

nav {
	display: flex;
	justify-content: center;
	align-items: center;
}

.start {
	height: 100%;
	width: 100%;
	box-sizing: border-box;
	display: block;
	justify-content: center;
	align-items: center;
}

.introduction {
	width: 100%;
	height: 100%;
}

.box img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 100px;
	object-fit: cover;
}

.box {
	position: relative;
	height: 200px;
	width: 200px;
	border-radius: 150px;
	margin-top: 40px;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.text-hidden {
	display: none;
}

.text-hidden.ativo {
    display: block;
    background-color: #4F4F4F;
    border: 1px solid black;
    width: 100%;
    max-width: 500px;
    border-radius: 5px;
    padding: 10px 20px;
    transition: opacity .3s ease-in;
    font-family: 'Montserrat', sans-serif;
}

.text-hidden p {
	color: snow;
}
h4 {
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	text-align: center;
	font-weight: 900;
	font-size: 30px;
	color: snow;
	margin-top: 50px;
}

#text {
	display: block;
	font-family: 'Josefin Sans', sans-serif;
	color: snow;
	letter-spacing: 30px;
	font-weight: 100;
	font-size: 80px;
	text-transform: uppercase;
	text-align: center;
	width: 100%;
	
}

.header-message {
  font-size: 22px;
  font-weight: 600;
  padding: 20px 30px;
  border-bottom: 1px solid #ccc;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.wrapper{
  width: 715px;
  background: #fff;
  border-radius: 5px;
  border: 0.5px solid black;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.05);
}

.wrapper form {
  margin: 35px 30px;
}

.wrapper form.disabled {
  pointer-events: none;
  opacity: 0.7;
}

form .dbl-field {
  display: flex;
  margin-bottom: 25px;
  justify-content: space-between;
}
.dbl-field .field {
  height: 50px;
  display: flex;
  position: relative;
  width: calc(100% / 2 - 13px);
}

.wrapper form i{
  position: absolute;
  top: 50%;
  left: 18px;
  color: #ccc;
  font-size: 17px;
  pointer-events: none;
  transform: translateY(-50%);
}

form .field input,
form .message textarea{
  font-family: 'IBM Plex Mono', monospace;
  width: 100%;
  height: 100%;
  outline: none;
  padding: 0 18px 0 48px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.field input::placeholder,
.message textarea::placeholder{
  color: #ccc;
}

.field input:focus,
.message textarea:focus{
  padding-left: 47px;
  border: 2px solid #0D6EFD;
}

.field input:focus ~ i,
.message textarea:focus ~ i{
  color: #0D6EFD;
}

form .message{
  position: relative;
}
form .message i{
  top: 30px;
  font-size: 20px;
}

form .message textarea{
  min-height: 130px;
  max-height: 230px;
  max-width: 100%;
  min-width: 100%;
  padding: 15px 20px 0 48px;
}

form .message textarea::-webkit-scrollbar{
  width: 0px;
}

.message textarea:focus{
  padding-top: 14px;
}
form .button-area{
  margin: 25px 0;
  display: flex;
  align-items: center;
}

.button-area button{
  color: #fff;
  border: none;
  outline: none;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
  padding: 13px 25px;
  background: #0D6EFD;
  transition: background 0.3s ease;
}

button-area button:hover{
  background: #025ce3;
}
.button-area span{
  font-size: 17px;
  margin-left: 30px;
  display: none;
}

h2 {
	font-family: 'Josefin Sans', sans-serif;
	margin-top: 30px;
	font-size: 0.9em;
	text-transform: uppercase;
	text-align: center;
	position: relative;
	color: snow;
	}

.desc-sobre {
	color: snow;
	width: 800px;
	height: 200px;
	font-family: 'Roboto Condensed', sans-serif;
	text-transform: uppercase;
	margin-top: 200px;
}

.inst {
	color: snow;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: ;
}

.desc-sobre p {
	max-width: 100%;
	font-size: 100%;
}

.desc-proj {
	color: snow;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	font-weight: 240px;
	font-size: 28px;
	padding-top: 180px;
}

.information {
	display: flex;
	width: 100%;
	height: 100%;
}

	

footer {
    bottom: 0px;
    height: 140px;
    width: 100%;
    background-color: #1C1C1C;
}

.skills {
	padding-top: 60px;
	padding-bottom: 240px;
}

.contactt {
	padding-top: 200px;
	padding-bottom: 100px;
}

.footer {
	background-color: black;
	position: relative;
	bottom: 0px;
	width: 100%;
	text-align: center;
	font-size: 18px;
}

.footer-text {
	color: snow;
	font-family: 'Montserrat', sans-serif;
}

.social-menu {
	display: flex;
}

.social-menu ul {
	display: flex;
	justify-content: center;
	padding: 15px;
	list-style: none;
}

.social-menu ul li {
    list-style: none;
    margin: 0 10px;
}

.social-menu ul li .fa {
    color: #000000;
    font-size: 23px;
    line-height: 40px;
    transition: .5s;
}

.social-menu ul li a {
    position: relative;
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background-color: white;
    text-align: center;
    transition: 0.5s;
    transform: translate(0,0px);
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
}

.social-menu ul li a:hover{
	transform: translate(0, -10px);
}

.contato {
	color: snow;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;

}

.container-footer {
	display: flex;
	flex-direction: row-reverse;
	padding-top: 40px;
	margin-top: 80px;
}

.page-contact {
  	overflow-y: auto;
}

.page-projects {
	display: inline-grid;
	height: 60vh;
}

.projetos-slider {
	display: grid;
	grid-template-columns: 300px 300px 300px;
	justify-content: center;
	text-align: center;
	padding-top: 80px;
}

.projetos-container {
	height: 360px;
	width: 260px;
	text-align: center;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
	border-radius: 10px;
	border: 1px solid black;
}

.projetos-container h2 {
	color: black;
	font-size: 18px;
	font-weight: 600;
	font-family: "Poppins", sans-serif;
}

.projetos-container p {
	color: snow;
	width:  100%;
	font-family: 'Roboto Condensed', sans-serif;
	padding-top: 20px;
}

.projetos-container img {
	height: 164px;
	width: 260px;
	border-radius: 5px;
}

.icons {
	display: grid;
	grid-template-columns: 100px 100px 100px 100px 100px;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding-top: 80px;
	font-family: 'Roboto Condensed', sans-serif;
}

.links {
	display: flex;
	margin-top: 68px;
}

.links a {
	text-transform: uppercase;
	color: snow;
	text-decoration: none;
	border-radius: 4px;
	font-size: 21px;
	border: 2px solid black;
	background-color: #1C1C1C;
	font-family: "Montserrat", sans-serif;
}

.links a:hover {
	background-color: #4169E1;
}

.icons p {
	color: snow;
}

.fa-brands {
	font-size: 50px;
}

.fa-solid {
	font-size: 50px;
}

.icons-contact {
	display: grid;
	grid-template-columns: 300px 300px 300px;
	justify-content: center;
	text-align: center;
	gap: 60px;
	padding: 20px;
	padding-top: 80px;
}

.desc-skill {
	display: 
	border: 1px solid red;
	width: 100px;
	height: 100px;
}

.desc-contact {
	padding-top: 30px;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
	width: 300px;
	padding: 20px;
	height: 150px;
	border-radius: 10px;
}

.desc-contact p {
	font-family: 'Roboto Condensed', sans-serif;
	color: snow;
}

.desc-contact a {
	text-decoration: none;
	font-family: "Montserrat", sans-serif;
	color:  #1C1C1C;
	font-weight: 900;
}

@media screen and (max-width: 999px) {
	header ul {
		font-size: 10px;
	}
}

@media screen and (max-width: 999px) {
	body {
		width: 100vw!important;
		background: linear-gradient(lightskyblue, royalblue);
	}
}

@media screen and (max-width: 999px) {
	.projetos-slider {
		display: flex;
		flex-wrap: wrap;
		gap: 20px;
		padding-top: 50px;
	}
}

@media screen and (max-width: 999px) {
	#text {
		font-size: 40px;
		letter-spacing: 20px;
		text-align: center;
		width: 100%;
	}

	.desc-sobre {
		width: 100%;
		text-align: center;
	}
}

@media screen and (max-width: 999px) {
	.icons {
		display: flex;
		flex-direction: column;
	}
}

@media screen and (max-width: 999px) {
	.tooltip.ativo {
		width: 100%;
		align-items: center;
		max-width: 800px;
	}
}


@media screen and (max-width: 999px) {
	.icons-contact {
		display: flex;
		width: 100%;
		flex-wrap: wrap;
		gap: 20px;
	}
}

@media screen and (max-width: 999px) {
	footer {
		width: 100%;
		height: 100%;
		display: flex;
	}
}

@media screen and (max-width: 999px) {
	.container-footer {
		display: flex;
		flex-wrap: wrap;
		gap: 20px;
	}
}

@media screen and (max-width: 999px) {
	.social-menu {
		display: flex;
		flex-wrap: wrap;
	}
}

@media screen and (max-width: 999px) {
	.footer {
		padding-top: 30px;
	}
}

@media screen and (max-width: 999px) {
	.contato {
		padding: 40px;
		text-align: center;
	}
}

@media (max-width: 999px){
  .wrapper header{
    text-align: center;
  }
  .wrapper form{
    margin: 35px 20px;
  }
  form .dbl-field{
    flex-direction: column;
    margin-bottom: 0px;
  }
  form .dbl-field .field{
    width: 100%;
    height: 45px;
    margin-bottom: 20px;
  }
  form .message textarea{
    resize: none;
  }
  form .button-area{
    margin-top: 20px;
    flex-direction: column;
  }
  .button-area button{
    width: 100%;
    padding: 11px 0;
    font-size: 16px;
  }
  .button-area span{
    margin: 20px 0 0;
    text-align: center;
  }

}
